---
import Layout from "../layouts/Layout.astro";
import BlogGrid from "./BlogGrid";

interface Props {
  allTags: string[];
  currentTag?: string | null;
  posts: any[];
}

const { allTags, currentTag, posts } = Astro.props;
const pageTitle = currentTag ? `#${currentTag}` : "blog.";
---

<Layout>
  <section class="container">
    <BlogGrid
      client:load
      posts={posts}
      allTags={allTags}
      currentTag={currentTag}
      pageTitle={pageTitle}
      description="Welcome to my blog! Here, I share what I am learning, what I am doing and just brain dump in general. Enjoy!"
    />
  </section>
</Layout>
