---
import Layout from "../layouts/Layout.astro";
import BlogGrid from "./BlogGrid";

interface Props {
  allTags: string[];
  currentTag?: string | null;
  posts: any[];
  pageTitle?: string;
  description?: string;
}

const { allTags, currentTag, posts, pageTitle: customPageTitle, description: customDescription } = Astro.props;
const pageTitle = customPageTitle || (currentTag ? `#${currentTag}` : "blog.");
const description = customDescription || "Welcome to my blog! Here, I share what I am learning, what I am doing and just brain dump in general. Enjoy!";
---

<Layout>
  <section class="container">
    <BlogGrid
      client:load
      posts={posts}
      allTags={allTags}
      currentTag={currentTag}
      pageTitle={pageTitle}
      description={description}
    />
  </section>
</Layout>
