---
import { SOCIAL_LINKS } from "../lib/data";
import AaronLogo from "./AaronLogo.astro";

const currentYear = new Date().getFullYear();
---

<div class="relative">
  <div
    class="absolute bottom-full inset-x-0 h-20 bg-[linear-gradient(to_bottom,transparent_0%,black_90%)]"
  >
  </div>
</div>
<div class="container pt-10 pb-12 bg-black">
  <div class="flex flex-col md:flex-row items-center justify-between">
    <AaronLogo variant="footer" />

    <ul class="flex gap-4 my-12 md:my-0">
      <li>
        <a
          href="/about"
          class="text-foreground-muted hover:underline py-3 px-3 inline-block"
          >about</a
        >
      </li>
      <li>
        <a
          href="/projects"
          class="text-foreground-muted hover:underline py-3 px-3 inline-block"
          >projects</a
        >
      </li>
      <li>
        <a
          href="/resume"
          class="text-foreground-muted hover:underline py-3 px-3 inline-block"
          >resume</a
        >
      </li>
      <li>
        <a
          href="/contact"
          class="text-foreground-muted hover:underline py-3 px-3 inline-block"
          >contact</a
        >
      </li>
    </ul>

    <ul class="flex gap-2">
      <li>
        <a
          href={SOCIAL_LINKS.github.url}
          class="bg-neutral-950 size-12 grid place-items-center hover:bg-neutral-800 transition-all"
          ><SOCIAL_LINKS.github.icon class="size-6" /></a
        >
      </li>
      <li>
        <a
          href={SOCIAL_LINKS.instagram.url}
          class="bg-neutral-950 size-12 grid place-items-center hover:bg-neutral-800 transition-all"
          ><SOCIAL_LINKS.instagram.icon class="size-6" /></a
        >
      </li>
      <li>
        <a
          href={SOCIAL_LINKS.facebook.url}
          class="bg-neutral-950 size-12 grid place-items-center hover:bg-neutral-800 transition-all"
          ><SOCIAL_LINKS.facebook.icon class="size-6" /></a
        >
      </li>
      <li>
        <a
          href={SOCIAL_LINKS.pinterest.url}
          class="bg-neutral-950 size-12 grid place-items-center hover:bg-neutral-800 transition-all"
          ><SOCIAL_LINKS.pinterest.icon class="size-6" /></a
        >
      </li>
    </ul>
  </div>

  <p class="text-foreground-muted text-center text-sm mt-8">
    &copy; {currentYear} Aaron Soto. All rights reserved.
  </p>
</div>
